body{
  margin: auto;
  width: 80%;
  font-family: sans-serif;
}

*{
   background-color: #EAEDED;
}

a{
   text-decoration: none;
}

/*
header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}
*/

#MainImage{
   border-radius: 10px;
   max-width: 80%;
   display: block;
   margin: auto;
   height: auto;
}

#imageDetails{
   max-width: 90%;
   margin: auto;
   margin-top: 25px;
}

#logo{
   max-width: 25%;
   height: auto;
}

#title{
   max-width: 75%;
   float: right;
   padding-right: 100px;
   padding-top: 45px
}

.BlogPostContent{
   padding-top: 25px;
   padding-bottom: 25px;
}

ul{
   margin: auto;
}

footer{
   background-color: #5F6A6A;
   padding: 25px;
   text-align: center;
}

header{
   background-color: #5F6A6A;
}

nav{
   background-color: #5F6A6A;
}
